<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='报名结果查看'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="enrollResultSearch" class="layui-form layui-form-pane" method="post" action=""
              style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">少儿姓名</label>
                <div class="layui-input-inline">
                    <input id="childName" name="childName" autocomplete="off"
                           class="layui-input"
                           type="text"/>
                </div>

                <!--<label class="layui-form-label">是否启用</label>
                <div class="layui-input-inline">
                    <select id="enableSearch" name="enableSearch" lay-verify="" lay-search>
                        <option value="">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>-->

                <!--<label class="layui-form-label">创建时间</label>
                <div class="layui-input-inline" style="width: 175px;">
                    <input name="insertTimeStart" id="insertTimeStart" placeholder="yyyy-MM-dd HH:mm:ss"
                           autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 175px;">
                    <input name="insertTimeEnd" id="insertTimeEnd" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>-->
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">搜索</button>
            </div>
        </form>

        <!--<button class="layui-btn" onclick="addHobby();">新增</button>-->

        <table id="enrollResultList" lay-filter="enrollResultTable"></table>

        <div style="display:none;" id="currentUser">
            <shiro:principal property="id"></shiro:principal>
        </div>

        <!--开关，是否启用兴趣-->
        <script id="enableTpl" type="text/html">
            {{# if(d.enable){}}
            <input type="checkbox" name="{{d.enrollResultName}}" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
                   lay-filter="isEnableTpl" checked="checked"/>
            {{#  } else { }}
            <input type="checkbox" name="{{d.enrollResultName}}" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
                   lay-filter="isEnableTpl"/>
            {{#  } }}
        </script>

        <!--是否缴费-->
        <script id="isPayTpl" type="text/html">
            {{# if(d.pay){}}
            是
            {{#  } else { }}
            否
            {{#  } }}
        </script>
        <!--操作栏-->
        <script id="optBar" type="text/html">
            <a class="layui-btn layui-btn-xs" lay-event="confirmPay">修改缴费状态</a>
            <!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>-->
        </script>

        <!-- &lt;!&ndash;时间转化&ndash;&gt;
         <script id="updateTime" type="text/html">
             {{# if(d.updateTime!=null){}}
             {{DateUtils.formatterDate(d.updateTime)}}
             {{#  } else { }}
             {{#  } }}
         </script>

         <script id="createTime" type="text/html">
             {{# if(d.createTime!=null){}}
             {{DateUtils.formatterDate(d.createTime)}}
             {{#  } else { }}
             {{#  } }}
         </script>-->

    </div>

    <!--添加或编辑兴趣类别-->
    <div id="setHobby" class="layer_self_wrap" style="display:none;">
        <form id="enrollResultForm" class="layui-form" method="post" action="" style="margin: 10px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">兴趣名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="enrollResultName" name="enrollResultName" required lay-verify="required"
                           placeholder="请输入兴趣名称" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介：</label>
                <div class="layui-input-block">
                    <textarea type="text" id="enrollResultInfo" name="enrollResultInfo" placeholder="请输入兴趣简介"
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用：</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="enable" name="enable" lay-skin="switch" lay-text="启用|禁用">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn" lay-submit="" lay-filter="enrollResultSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/enroll/enrollList.js"></script>
</div>
</body>
</html>