<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='兴趣类别设置'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="hobbySearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">兴趣类别</label>
                <div class="layui-input-inline">
                    <input id="hobbyType" name="hobbyType" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-inline" style="width: 175px;">
                    <input name="insertTimeStart" id="insertTimeStart" placeholder="yyyy-MM-dd" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 175px;">
                    <input name="insertTimeEnd" id="insertTimeEnd" placeholder="yyyy-MM-dd" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">搜索</button>
            </div>
        </form>

        <button class="layui-btn" onclick="addHobby();">新增</button>

        <table id="hobbyList" lay-filter="hobbyTable"></table>

        <div style="display:none;" id="currentUser">
            <shiro:principal property="id"></shiro:principal>
        </div>

        <!--是否启用单选-->
        <script id="enableTpl" type="text/html">
            {{# if(d.enable){}}
            <input type="checkbox" name="{{d.hobbyName}}" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
                   lay-filter="isEnableTpl" checked="checked"/>
            {{#  } else { }}
            <input type="checkbox" name="{{d.hobbyName}}" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
                   lay-filter="isEnableTpl"/>
            {{#  } }}
        </script>

        <!--操作栏-->
        <script id="optBar" type="text/html">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        </script>

    </div>

    <!--添加或编辑兴趣类别-->
    <div id="setHobby" class="layer_self_wrap" style="display:none;">
        <form id="hobbyForm" class="layui-form" method="post" action="" style="margin: 10px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">兴趣名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="hobbyName" name="hobbyName" required lay-verify="required"
                           placeholder="请输入兴趣名称" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介：</label>
                <div class="layui-input-block">
                    <textarea type="text" id="hobbyInfo" name="hobbyInfo" placeholder="请输入兴趣简介"
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否启用：</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="enable" name="enable" lay-skin="switch" lay-text="启用|禁用">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn" lay-submit="" lay-filter="hobbySubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/enroll/hobbyList.js"></script>
</div>
</body>
</html>