<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsicong.enroll.mapper.EnrollRecordMapper">
    <resultMap id="BaseResultMap" type="com.wsicong.enroll.model.EnrollRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="child_id" property="childId" jdbcType="INTEGER"/>
        <result column="guardian_id" property="guardianId" jdbcType="INTEGER"/>
        <result column="class_id" property="classId" jdbcType="INTEGER"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
        <result column="enroll_start_time" property="enrollStartTime" jdbcType="TIMESTAMP"/>
        <result column="enroll_end_time" property="enrollEndTime" jdbcType="TIMESTAMP"/>
        <result column="child_name" property="childName" jdbcType="VARCHAR"/>
        <result column="guardian_name" property="guardianName" jdbcType="VARCHAR"/>
        <result column="guardian_phone" property="guardianPhone" jdbcType="VARCHAR"/>
        <result column="is_pay" property="isPay" jdbcType="BIT"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, child_id, guardian_id, class_id, class_name, enroll_start_time, enroll_end_time, 
    child_name, guardian_name, guardian_phone, is_pay, is_del, create_by, create_time, 
    update_by, update_time, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from e_enroll_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_enroll_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.wsicong.enroll.model.EnrollRecord">
    insert into e_enroll_record (id, child_id, guardian_id, 
      class_id, class_name, enroll_start_time, 
      enroll_end_time, child_name, guardian_name, 
      guardian_phone, is_pay, is_del, 
      create_by, create_time, update_by, 
      update_time, remark)
    values (#{id,jdbcType=INTEGER}, #{childId,jdbcType=INTEGER}, #{guardianId,jdbcType=INTEGER}, 
      #{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{enrollStartTime,jdbcType=TIMESTAMP}, 
      #{enrollEndTime,jdbcType=TIMESTAMP}, #{childName,jdbcType=VARCHAR}, #{guardianName,jdbcType=VARCHAR}, 
      #{guardianPhone,jdbcType=VARCHAR}, #{isPay,jdbcType=BIT}, #{isDel,jdbcType=BIT}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wsicong.enroll.model.EnrollRecord">
        insert into e_enroll_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="childId != null">
                child_id,
            </if>
            <if test="guardianId != null">
                guardian_id,
            </if>
            <if test="classId != null">
                class_id,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="enrollStartTime != null">
                enroll_start_time,
            </if>
            <if test="enrollEndTime != null">
                enroll_end_time,
            </if>
            <if test="childName != null">
                child_name,
            </if>
            <if test="guardianName != null">
                guardian_name,
            </if>
            <if test="guardianPhone != null">
                guardian_phone,
            </if>
            <if test="isPay != null">
                is_pay,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="childId != null">
                #{childId,jdbcType=INTEGER},
            </if>
            <if test="guardianId != null">
                #{guardianId,jdbcType=INTEGER},
            </if>
            <if test="classId != null">
                #{classId,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="enrollStartTime != null">
                #{enrollStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enrollEndTime != null">
                #{enrollEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="childName != null">
                #{childName,jdbcType=VARCHAR},
            </if>
            <if test="guardianName != null">
                #{guardianName,jdbcType=VARCHAR},
            </if>
            <if test="guardianPhone != null">
                #{guardianPhone,jdbcType=VARCHAR},
            </if>
            <if test="isPay != null">
                #{isPay,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsicong.enroll.model.EnrollRecord">
        update e_enroll_record
        <set>
            <if test="childId != null">
                child_id = #{childId,jdbcType=INTEGER},
            </if>
            <if test="guardianId != null">
                guardian_id = #{guardianId,jdbcType=INTEGER},
            </if>
            <if test="classId != null">
                class_id = #{classId,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="enrollStartTime != null">
                enroll_start_time = #{enrollStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enrollEndTime != null">
                enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="childName != null">
                child_name = #{childName,jdbcType=VARCHAR},
            </if>
            <if test="guardianName != null">
                guardian_name = #{guardianName,jdbcType=VARCHAR},
            </if>
            <if test="guardianPhone != null">
                guardian_phone = #{guardianPhone,jdbcType=VARCHAR},
            </if>
            <if test="isPay != null">
                is_pay = #{isPay,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsicong.enroll.model.EnrollRecord">
    update e_enroll_record
    set child_id = #{childId,jdbcType=INTEGER},
      guardian_id = #{guardianId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR},
      enroll_start_time = #{enrollStartTime,jdbcType=TIMESTAMP},
      enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
      child_name = #{childName,jdbcType=VARCHAR},
      guardian_name = #{guardianName,jdbcType=VARCHAR},
      guardian_phone = #{guardianPhone,jdbcType=VARCHAR},
      is_pay = #{isPay,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--分页查询报名记录信息列表-->
    <select id="selectEnrollRecordList" resultType="com.wsicong.enroll.dto.EnrollRecordDTO">
        select
        id,
        child_id,
        guardian_id,
        class_id,
        class_name,
        enroll_start_time,
        enroll_end_time,
        child_name,
        guardian_name,
        guardian_phone,
        is_pay,
        is_del,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from e_enroll_record
        <where>
            <if test="enrollRecordSearch.childIdSearch != null and enrollRecordSearch.childIdSearch != ''">
                AND child_id like CONCAT(CONCAT('%',#{enrollRecordSearch.childIdSearch}),'%')
            </if>
            <if test="enrollRecordSearch.insertTimeStart!=null and enrollRecordSearch.insertTimeStart!=''">
                AND create_time &gt;= #{enrollRecordSearch.insertTimeStart}
            </if>
            <if test="enrollRecordSearch.insertTimeEnd!=null and enrollRecordSearch.insertTimeEnd!=''">
                AND create_time &lt;= #{enrollRecordSearch.insertTimeEnd}
            </if>
            AND create_by = #{enrollRecordSearch.userId}
            <!--<if test="enrollRecordSearch.enableSearch != null and enrollRecordSearch.enableSearch != ''">
                AND is_enable = #{enrollRecordSearch.enableSearch}
            </if>-->
        </where>
        order by create_time desc
    </select>

    <!--根据儿童id和班级id查找报名记录-->
    <select id="selectByChildIdAndClassId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_enroll_record
        where
        child_id = #{childId} and class_id=#{classId}
    </select>

    <!--查找所有未删除的报名记录-->
    <select id="selectEnrollRecords" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_enroll_record
        where
        is_del=0
    </select>

    <!--更新用户缴费状态-->
    <update id="updatePayStatus">
        update
        e_enroll_record
        set
        is_pay=#{isPay,jdbcType=INTEGER},
        update_time=NOW()
        where
        id=#{id,jdbcType=INTEGER}
    </update>
</mapper>