<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsicong.enroll.mapper.HobbyClassMapper">
    <resultMap id="BaseResultMap" type="com.wsicong.enroll.model.HobbyClass">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="hobby_type_id" property="hobbyTypeId" jdbcType="INTEGER"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
        <result column="student_describe" property="studentDescribe" jdbcType="VARCHAR"/>
        <result column="student_age" property="studentAge" jdbcType="VARCHAR"/>
        <result column="enroll_num" property="enrollNum" jdbcType="INTEGER"/>
        <result column="enrolled_num" property="enrolledNum" jdbcType="INTEGER"/>
        <result column="class_start_date" property="classStartDate" jdbcType="DATE"/>
        <result column="class_end_date" property="classEndDate" jdbcType="DATE"/>
        <result column="class_weeks" property="classWeeks" jdbcType="VARCHAR"/>
        <result column="class_start_time" property="classStartTime" jdbcType="TIME"/>
        <result column="class_end_time" property="classEndTime" jdbcType="TIME"/>
        <result column="class_cost" property="classCost" jdbcType="VARCHAR"/>
        <result column="class_hour" property="classHour" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_enable" property="enable" jdbcType="BIT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, hobby_type_id, class_name, student_describe, student_age, enroll_num,enrolled_num, class_start_date,
    class_end_date, class_weeks, class_start_time, class_end_time, class_cost, class_hour, 
    status, is_enable, create_by, create_time, update_by, update_time, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from e_hobby_class
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_hobby_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wsicong.enroll.model.HobbyClass">
    insert into e_hobby_class (id, hobby_type_id, class_name, 
      student_describe, student_age, enroll_num, enrolled_num,
      class_start_date, class_end_date, class_weeks, 
      class_start_time, class_end_time, class_cost, 
      class_hour, status, is_enable, 
      create_by, create_time, update_by, 
      update_time, remark)
    values (#{id,jdbcType=INTEGER}, #{hobbyTypeId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, 
      #{studentDescribe,jdbcType=VARCHAR}, #{studentAge,jdbcType=VARCHAR}, #{enrollNum,jdbcType=INTEGER}, #{enrolledNum,jdbcType=INTEGER},
      #{classStartDate,jdbcType=DATE}, #{classEndDate,jdbcType=DATE}, #{classWeeks,jdbcType=VARCHAR}, 
      #{classStartTime,jdbcType=TIME}, #{classEndTime,jdbcType=TIME}, #{classCost,jdbcType=VARCHAR}, 
      #{classHour,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{enable,jdbcType=BIT}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wsicong.enroll.model.HobbyClass">
        insert into e_hobby_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hobbyTypeId != null">
                hobby_type_id,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="studentDescribe != null">
                student_describe,
            </if>
            <if test="studentAge != null">
                student_age,
            </if>
            <if test="enrollNum != null">
                enroll_num,
            </if>
            <if test="enrolledNum != null">
                enrolled_num,
            </if>
            <if test="classStartDate != null">
                class_start_date,
            </if>
            <if test="classEndDate != null">
                class_end_date,
            </if>
            <if test="classWeeks != null">
                class_weeks,
            </if>
            <if test="classStartTime != null">
                class_start_time,
            </if>
            <if test="classEndTime != null">
                class_end_time,
            </if>
            <if test="classCost != null">
                class_cost,
            </if>
            <if test="classHour != null">
                class_hour,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="enable != null">
                is_enable,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="hobbyTypeId != null">
                #{hobbyTypeId,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="studentDescribe != null">
                #{studentDescribe,jdbcType=VARCHAR},
            </if>
            <if test="studentAge != null">
                #{studentAge,jdbcType=VARCHAR},
            </if>
            <if test="enrollNum != null">
                #{enrollNum,jdbcType=INTEGER},
            </if>
            <if test="enrolledNum != null">
                #{enrolledNum,jdbcType=INTEGER},
            </if>
            <if test="classStartDate != null">
                #{classStartDate,jdbcType=DATE},
            </if>
            <if test="classEndDate != null">
                #{classEndDate,jdbcType=DATE},
            </if>
            <if test="classWeeks != null">
                #{classWeeks,jdbcType=VARCHAR},
            </if>
            <if test="classStartTime != null">
                #{classStartTime,jdbcType=TIME},
            </if>
            <if test="classEndTime != null">
                #{classEndTime,jdbcType=TIME},
            </if>
            <if test="classCost != null">
                #{classCost,jdbcType=VARCHAR},
            </if>
            <if test="classHour != null">
                #{classHour,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsicong.enroll.model.HobbyClass">
        update e_hobby_class
        <set>
            <if test="hobbyTypeId != null">
                hobby_type_id = #{hobbyTypeId,jdbcType=INTEGER},
            </if>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="studentDescribe != null">
                student_describe = #{studentDescribe,jdbcType=VARCHAR},
            </if>
            <if test="studentAge != null">
                student_age = #{studentAge,jdbcType=VARCHAR},
            </if>
            <if test="enrollNum != null">
                enroll_num = #{enrollNum,jdbcType=INTEGER},
            </if>
            <if test="enrolledNum != null">
                enrolled_num = #{enrolledNum,jdbcType=INTEGER},
            </if>
            <if test="classStartDate != null">
                class_start_date = #{classStartDate,jdbcType=DATE},
            </if>
            <if test="classEndDate != null">
                class_end_date = #{classEndDate,jdbcType=DATE},
            </if>
            <if test="classWeeks != null">
                class_weeks = #{classWeeks,jdbcType=VARCHAR},
            </if>
            <if test="classStartTime != null">
                class_start_time = #{classStartTime,jdbcType=TIME},
            </if>
            <if test="classEndTime != null">
                class_end_time = #{classEndTime,jdbcType=TIME},
            </if>
            <if test="classCost != null">
                class_cost = #{classCost,jdbcType=VARCHAR},
            </if>
            <if test="classHour != null">
                class_hour = #{classHour,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                is_enable = #{enable,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsicong.enroll.model.HobbyClass">
    update e_hobby_class
    set hobby_type_id = #{hobbyTypeId,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR},
      student_describe = #{studentDescribe,jdbcType=VARCHAR},
      student_age = #{studentAge,jdbcType=VARCHAR},
      enroll_num = #{enrollNum,jdbcType=INTEGER},
      enrolled_num = #{enrolledNum,jdbcType=INTEGER},
      class_start_date = #{classStartDate,jdbcType=DATE},
      class_end_date = #{classEndDate,jdbcType=DATE},
      class_weeks = #{classWeeks,jdbcType=VARCHAR},
      class_start_time = #{classStartTime,jdbcType=TIME},
      class_end_time = #{classEndTime,jdbcType=TIME},
      class_cost = #{classCost,jdbcType=VARCHAR},
      class_hour = #{classHour,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_enable = #{enable,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--分页查询兴趣班级列表-->
    <select id="selectHobbyClassList" resultType="com.wsicong.enroll.dto.HobbyClassDTO">
        select
        hc.id,
        hobby_type_id,
        class_name,
        student_describe,
        student_age,
        enroll_num,
        enrolled_num,
        class_start_date,
        class_end_date,
        class_weeks,
        class_start_time,
        class_end_time,
        class_cost,
        class_hour,
        `status`,
        hc.is_enable as enable ,
        hc.create_by,
        hc.create_time,
        hc.update_by,
        hc.update_time,
        hc.remark,
        ht.hobby_type_name as hobbyTypeName
        from e_hobby_class hc
        left join e_hobby_type ht
        on ht.id=hc.hobby_type_id
        <where>
            <if test="hobbyClassSearch.classNameSearch != null and hobbyClassSearch.classNameSearch != ''">
                AND hc.class_name like CONCAT(CONCAT('%',#{hobbyClassSearch.classNameSearch}),'%')
            </if>
            <if test="hobbyClassSearch.insertTimeStart!=null and hobbyClassSearch.insertTimeStart!=''">
                AND hc.create_time &gt;= #{hobbyClassSearch.insertTimeStart}
            </if>
            <if test="hobbyClassSearch.insertTimeEnd!=null and hobbyClassSearch.insertTimeEnd!=''">
                AND hc.create_time &lt;= #{hobbyClassSearch.insertTimeEnd}
            </if>
            <if test="hobbyClassSearch.status!=null and hobbyClassSearch.status!=''">
                AND hc.`status` = #{hobbyClassSearch.status}
            </if>
            <if test="hobbyClassSearch.isEnable!=null and hobbyClassSearch.isEnable!=''">
                AND hc.is_enable = #{hobbyClassSearch.isEnable}
            </if>
            <if test="hobbyClassSearch.hobbyTypeId!=null and hobbyClassSearch.hobbyTypeId!=''">
                AND hc.hobby_type_id = #{hobbyClassSearch.hobbyTypeId}
            </if>
            <!--<if test="hobbyTypeSearch.enableSearch != null and hobbyTypeSearch.enableSearch != ''">
                AND is_enable = #{hobbyTypeSearch.enableSearch}
            </if>-->
        </where>
        order by create_time desc
    </select>

    <!--根据兴趣班级名称查询兴趣-->
    <select id="selectByHobbyClassName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_hobby_class
        where
        class_name = #{className}
    </select>

    <!--更新兴趣班级启用状态-->
    <update id="updateEnable">
        update
        e_hobby_class
        set
        is_enable = #{isEnable,jdbcType=INTEGER},
        update_time =NOW()
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <!--更新班级状态-->
    <update id="updateEnrollStatus">
        update
        e_hobby_class
        set
        `status`=1,
        update_time=NOW()
        where
        class_start_date&gt;date_sub(NOW(),interval 1 day)
    </update>
    <update id="updateStartStatus">
        update
        e_hobby_class
        set
        `status`=2,
        update_time=NOW()
        where
        class_start_date&lt;date_sub(NOW(),interval 1 day) and class_end_date&gt;date_sub(NOW(),interval 1 day)
    </update>
    <update id="updateEndStatus">
        update
        e_hobby_class
        set
        `status`=3,
        update_time=NOW()
        where
        class_end_date&lt;date_sub(NOW(),interval 1 day)
    </update>
</mapper>