<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsicong.enroll.mapper.HobbyMapper">
    <resultMap id="BaseResultMap" type="com.wsicong.enroll.model.Hobby">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="hobby_name" property="hobbyName" jdbcType="VARCHAR"/>
        <result column="hobby_info" property="hobbyInfo" jdbcType="VARCHAR"/>
        <result column="is_enable" property="enable" jdbcType="BIT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, hobby_name, hobby_info, is_enable, create_by, create_time, update_by, update_time, 
    remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from e_hobby
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_hobby
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wsicong.enroll.model.Hobby">
    insert into e_hobby (id, hobby_name, hobby_info, 
      is_enable, create_by, create_time, 
      update_by, update_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{hobbyName,jdbcType=VARCHAR}, #{hobbyInfo,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.wsicong.enroll.model.Hobby">
        insert into e_hobby
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hobbyName != null">
                hobby_name,
            </if>
            <if test="hobbyInfo != null">
                hobby_info,
            </if>
            <if test="enable != null">
                is_enable,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="hobbyName != null">
                #{hobbyName,jdbcType=VARCHAR},
            </if>
            <if test="hobbyInfo != null">
                #{hobbyInfo,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsicong.enroll.model.Hobby">
        update e_hobby
        <set>
            <if test="hobbyName != null">
                hobby_name = #{hobbyName,jdbcType=VARCHAR},
            </if>
            <if test="hobbyInfo != null">
                hobby_info = #{hobbyInfo,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                is_enable = #{enable,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsicong.enroll.model.Hobby">
    update e_hobby
    set hobby_name = #{hobbyName,jdbcType=VARCHAR},
      hobby_info = #{hobbyInfo,jdbcType=VARCHAR},
      is_enable = #{enable,jdbcType=BIT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--分页查询兴趣列表-->
    <select id="selectHobbyList" resultType="com.wsicong.enroll.dto.HobbyDTO">
        select
        id,
        hobby_name,
        hobby_info,
        is_enable as enable ,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from e_hobby
        <where>
            <if test="hobbySearch.hobbyNameSearch != null and hobbySearch.hobbyNameSearch != ''">
                AND hobby_name like CONCAT(CONCAT('%',#{hobbySearch.hobbyNameSearch}),'%')
            </if>
            <if test="hobbySearch.insertTimeStart!=null and hobbySearch.insertTimeStart!=''">
                AND create_time &gt;= #{hobbySearch.insertTimeStart}
            </if>
            <if test="hobbySearch.insertTimeEnd!=null and hobbySearch.insertTimeEnd!=''">
                AND create_time &lt;= #{hobbySearch.insertTimeEnd}
            </if>
            <!--<if test="hobbySearch.enableSearch != null and hobbySearch.enableSearch != ''">
                AND is_enable = #{hobbySearch.enableSearch}
            </if>-->
        </where>
        order by create_time desc
    </select>

    <!--selectByHobbyName 根据兴趣名称查询兴趣-->
    <select id="selectByHobbyName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_hobby
        where
        hobby_name = #{hobbyName}
    </select>

    <!--更新兴趣启用状态-->
    <update id="updateEnable">
        update
        e_hobby
        set
        is_enable = #{isEnable,jdbcType=INTEGER},
        update_time =NOW()
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <!--查找所有启用的兴趣-->
    <select id="selectHobbies" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_hobby
        where
        is_enable=1
    </select>

    <!--根据id查询兴趣及其子兴趣（状态为启用）-->
    <resultMap id="getHobbyTypes" type="com.wsicong.enroll.vo.HobbyVO">
        <id column="id" property="id"/>
        <result column="hobby_name" property="hobbyName" jdbcType="VARCHAR"/>
        <result column="hobby_info" property="hobbyInfo" jdbcType="VARCHAR"/>
        <result column="is_enable" property="enable" jdbcType="BIT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>

        <collection property="hobbyTypes" ofType="com.wsicong.enroll.model.HobbyType">
            <id column="sid" property="id" jdbcType="INTEGER"/>
            <result column="hobby_type_name" property="hobbyTypeName" jdbcType="VARCHAR"/>
            <result column="senable" property="enable" jdbcType="BIT"/>
        </collection>
    </resultMap>

    <select id="selectHobbyById" resultMap="getHobbyTypes">
        select
        h.id,
        h.hobby_name,
        h.hobby_info,
        h.is_enable as enable ,
        h.create_by,
        h.create_time,
        h.update_by,
        h.update_time,
        h.remark,
        ht.id as sid,
        ht.hobby_type_name,
        ht.is_enable as senable
        from e_hobby h
        left join e_hobby_type ht
        on h.id=ht.hobby_id
        where h.id=#{id}
    </select>
</mapper>